:local(.timer) {
  display: inline-grid;
  grid-template-columns: repeat(8, 12.5%);
  grid-template-rows: repeat(8, 100%);
  width: 100vw;
  height: 100vh;
  text-align: center;

  span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #cccccc;
    border-radius: 20px;
    font-size: 10vw;
    font-weight: bold;
    margin: 0 10px;
    font-family: 'Roboto', sans-serif;

    background: linear-gradient(to bottom, #111111 0%,#333333 50%,#222222 51%,#444444 100%);

    &:not(:nth-child(3)):not(:nth-child(6)) {
      padding-top: 15px;
    }
  }
}