:local(.container) {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;

  &:hover > :local(.controls) {
    opacity: 1;
    transform: translateY(0);
  }
}

:local(.video) {
  width: 100%;
  height: 100%;
}

:local(.edit_container) {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:local(.icon) {
  font-size: 72px;
}

:local(.span) {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 0;
}

:local(.icon),
:local(.span) {
  color: #7a829f;
}